<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dr.YaseminS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dr.YaseminS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dr.YaseminS.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>omerdogu</value>
            </setting>
        </Dr.YaseminS.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Dr.YaseminS.Properties.Settings>
            <setting name="Setting1" serializeAs="String">
                <value />
            </setting>
        </Dr.YaseminS.Properties.Settings>
    </applicationSettings>
</configuration>